<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>

  <title><%= pageTitle %></title>

</head>

<body>
  
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <nav>
    <%- include('../partials/nav.ejs') %>
  </nav>
  
  <main>
    <p>This is the login page.</p>
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>