<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>

  <title><%= pageTitle %></title>

</head>

<body>   
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <nav> 
    <%- include('../partials/nav.ejs') %>
  </nav>
  
  <main>
    <p>This is the single image page.</p>
  </main>

  <figure>
    <p>Text for testing purposes</p>
    <img src=<%= guitarSRC %> alt=<%= guitarAlt %></img>
    <figcaption><%= guitarTitle %></figcaption>
  </figure>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
</body>

</html>